// Footer
footer.footer
  .container
    
    .footer__info Если нашли несоответствие информации, сообщите в службу поддержки 
      br
      | 
      a(href="#!") 8 (495) 345-45-45
      | &nbsp;или 
      a(href="#!") info@blackname.ru

    .footer__copyright © 2010-2017 blackname.ru.
      br
      | All rights reserved.
